body {
	background-color: rgb(247, 241, 241);
}

h1 {
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 15px 0px 15px;
}

.hashtrag__wrapper {
	display: flex;
	margin-top: 4px;
}

.column {
	flex: 14%;
	max-width: 14%;
}

.item {
	margin: 5px;
}

.hashtag__anime {
	padding: 4px;
	border-radius: 5px;
	background-color: rgba(211, 170, 221, 0.527);
}

.hashtag__genshin {
	padding: 4px;
	border-radius: 5px;
	background-color: rgba(160, 216, 216, 0.527);
	margin: 0px 0px 0px 5px;
}

.hashtag__deadinside  {
	padding: 4px;
	border-radius: 5px;
	background-color: rgba(53, 11, 11, 0.527);
	margin: 0px 0px 0px 5px;
}

.hashtag__demonslayer {
	padding: 4px;
	border-radius: 5px;
	background-color: rgba(187, 22, 91, 0.527);
	margin: 0px 0px 0px 5px;
}

.hashtag__kitsune {
	padding: 4px;
	border-radius: 5px;
	background-color: rgba(255, 0, 0, 0.527);
	margin: 0px 0px 0px 5px;
}